@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primario: rgb(68, 174, 68);
  --blanco: rgba(252, 255, 249, 0.86);
  --fuentePrincipal: 'Poppins', sans-serif;
}

html {
  font-size: 78.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1, h2, h3 {
  font-weight: 900;
  margin: 2rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}

.header {
  background-image: url(/img/meet.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5rem 0;
  height: 100%;
}

.header__heading {
  background-color: rgba(102, 157, 67, 0.5); 
  color: var(--blanco);
  width: 80%;
  padding: 0.5rem;
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .header__heading {
    width: 100%;
  }

  .navegacion {
    width: 100%;
    margin-top: 1rem;
  }
}

@media all and (max-width: 599px) {
  .header__heading {
    width: 100%;
  }
}

@media (min-width: 768px) { 
  .header__barra {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  width: 15rem;
  margin: 0 auto 3rem auto;
}

@media (min-width: 768px) { 
  .logo {
    margin: 0;
  }

  .header__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
  }
}

.header__heading {
  font-size: 2rem;
}

@media (min-width: 768px) { 
  .header__heading {
    text-align: left;
    font-size: 5rem;
    line-height: 1.2;
  }
}

@media (min-width: 768px) { 
  .header__imagen {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.header__boton {
  background-color: var(--primario);
  display: block;
  padding: 1rem;
  text-align: center;
  color: var(--blanco);
  margin-bottom: 4rem;
}

@media (min-width: 768px) { 
  .header__boton {
    padding: 1rem 3rem;
    display: inline-block;
  }
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(28, 41, 19, 0.5); */
  margin-top: 1rem;
  width: 65%;
  padding: 1rem;
}

@media (min-width: 768px) { 
  .navegacion {
    flex-direction: row;
    gap: 1rem;
    width: 50%;
  }
}

@media all and (min-width: 600px) and (max-width: 767px) {
  .navegacion {
    width: 100%;
    margin-top: 1rem;
    gap: 0.4rem;
  }
}

.navegacion__link {
  color: var(--blanco);
  width: 100%;
  height: 30%;
  background-color: rgba(85, 115, 66, 0.5);
  padding: 1rem;
}

@media (min-width: 768px) { 
  .navegacion__link {
    color: var(--blanco);
    height: 60%;
  }
}

@media all and (max-width: 599px) {
  .navegacion {
    width: 100%;
  }
}

/*----MAIN-INFO*/

.info {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.info__imagen {
  display: grid;
  gap: 2rem;
}

@media all and (min-width: 600px) and (max-width: 767px) { 
  .info__imagen {
    justify-content: center;
  }
}

@media all and (max-width: 599px) {
  .info__imagen {
    justify-content: center;
  }
}

.info__grid {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) { 
  .info__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5rem;
    align-items: center;
  }
}

.listado__elemento {
  background-color: var(--blanco);
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
  padding: 2rem;
  margin-bottom: 5rem;
  transition-property: transform;
  transition-duration: 300ms;
}

.listado__elemento:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) { 
  .listado__elemento--2col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

.listado__heading {
  font-size: 3rem;
  color: var(--primario);
  margin: 0;
}

.listado__numero {
  font-size: 6rem;
  margin: 0;
  font-weight: 900;
  color: var(--primario);
  text-align: center;
}

@media (min-width: 768px) { 
  .listado__numero {
    flex-basis: 20rem;
    text-align: right;
    font-size: 4rem;
  }
}

.listado__texto {
  margin: 0;
  font-size: 1.6rem;
}

/* SECTION COVER*/

#somos {
  background-image: url(/img/meet-two.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  opacity: 0.9; 
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  /* Ajustes de estilos para resoluciones entre 600px y 1200px */
}

.container__nosotros {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 3rem;
}

@media all and (max-width: 599px) {
  .container__nosotros {
    display: inline-block;
  }
}

.nosotros__title h1 {
  font-size: 4rem;
  margin-top: 7rem;
  margin-left: 1rem;
  background-color: rgba(44, 60, 39, 0.5);
  padding: 0.3rem;
  margin-right: 2rem;
  color: antiquewhite;
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .nostros__title h1 {
    font-size: 3.5rem;
    margin-top: 10rem;
  }
}

@media all and (max-width: 599px) {
  .nostros__title h1 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
}

.nosotros__titles {
  /* padding: 4rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .nosotros__titles {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media all and (max-width: 599px) {
  .nosotros__titles {
    display: block;
    margin-bottom: 1rem;
  }
}

.div_link_nosotros {
  gap: 1rem;
  background-color: rgba(17, 10, 16, 0.7); 
  padding: 0.4rem;
  width: 40%;
}

@media all and (max-width: 599px) {
  .div_link_nosotros {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.navegacion__nosotros {
  text-decoration: none;
  color: rgba(224, 211, 211, 0.867);
}

/* FIN SECTION COVER*/

.footer {
  background-color: rgba(32, 114, 6, 0.5);
  padding: 3rem 0;
}

.copyright {
  color: var(--blanco);
  text-align: center;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) { 
  .footer__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  width: 20rem;
  margin: 0 auto 4rem auto;
}

@media (min-width: 768px) { 
  .footer__logo {
    margin: 0;
  }
}

.card-todo {
  width: 100%;
  /* height: 20rem; */
}

.modal {
  background: rgba(5, 28, 3, 0.5);
}

.modal-details {
  background: rgba(17, 82, 12, 0.293);
  padding: 1rem;
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: center;
}

.modal-detail {
  background: rgba(10, 38, 7, 0.142);
  padding: 1rem;
}

.div-modal-buttons {
  display: flex;
  justify-content: center;
}
